<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalValue</key>
	<dict>
		<key>isReadyForAnalysisDate</key>
		<date>2026-09-26T19:40:20Z</date>
	</dict>
	<key>MigrationAction</key>
	<dict>
		<key>ResumeMarker</key>
		<dict/>
	</dict>
	<key>PLLibraryServicesManager.LocaleIdentifier</key>
	<string>en_US</string>
</dict>
</plist>
