<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coalesceDate</key>
	<date>2025-10-21T23:04:20Z</date>
	<key>coalescePayloadVersion</key>
	<integer>2</integer>
	<key>currentPayloadVersion</key>
	<integer>2</integer>
	<key>snapshotChecksum</key>
	<string></string>
	<key>snapshotDate</key>
	<date>2020-11-14T15:13:11Z</date>
	<key>snapshotPayloadVersion</key>
	<integer>2</integer>
</dict>
</plist>
