<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	rVdrc6M6Ev0v/jrZjMDYxqnaDzzEwzbYvA079wMvAwYMMXjAvpX/vg1OMsncmbq7VTdV
	LkVCOupzWmp1/zn5Hp+brDrJp0M1efpzElyyIlIvZRCfJ08TYikuppOHiV/X9n3eMDgn
	HtEjQSL40IRpXPp6/D27fyQeJnXht4fqXMLMrbGfvDxMyrj1I7/1B/zSb9r47GRRm06e
	FmiYn9VxkZ3iHxvAskcKwO9zpThL0nbytETTh0l1zuJT67f3zQB72Mlv39cCnh8dL01b
	wrRm8vSfP38xIz75QRFHk6f2fImBQ9y22SlpBvMOfhjLkyf0iJbEYkoR8yk1nxLEbL4k
	HyZtXNbx2W8v53jyNEMIPUyyho8P/qUY9rqjDQiOfy4HfuhxBquyE1iP7l+0EZuYz5Yk
	mlP0gpzSFFqATUWc+OH13UqYHlZFdTavdTzanJz96ydYbI+zgsxv3tGN9hyfkmEKrGiK
	alwLImURqJEdstGnTpq1MesX/imMB9de2tHxb+2wETdsPXRGG4waoFW/BLCJanB+kQUg
	QhzpIsu9f5+8GsxVZV2dXsVHjwsafDwnpyAnSS+WFPkAYzNqMSWB+XKOZjRNzIex6fDf
	coZogp7DCuqB+OPlbyT7i9J/keAvon3yIEWR08cljcDGBQJbyMXPot9dRzzOpjM0Iyg0
	p6ezJb183eo35wTMDi9nsAKW3lV9eXn4P49hdThAd1OFfrG5n37w8H1Qgn4xjN3dnp3q
	S/s255EENsuPf2+rcF9Xzcj6HYgt/DDfVW+n83XwPECd4uaO3gxXrWmzcLSqRuRIGU2X
	JFCl5+SCmqHlYhCknqG7HIgAKRc0NSWmC3I2pe4nzPaLS/wbC4OPhgzoxHIxH+QexCYJ
	mgZHVCe/0P1TMmIQiKAWczhZs9l8RiN62J6cjYvBHPqDedMhvizp0fvkjPpoHGw8yqj4
	NfhpvWJOseFdV05SuJltrnCT64aOVxgfd1dlId/y49ZQSNnUUsXAV9nEQ9vJBnXY6BR4
	pYnXPXqWuCpcp90zlzCeqOeuqIee0Of713bou0Kf7EX2tb33HZF1XSEdxoc2dITe2gt6
	aAup5gisawqpsmZYzRB0bOFU0wUWWn1s7R+tZQip7ODUHeZB39WFFDswDt8Zi++1ncBQ
	Fp9q27FNKkZg6B/j/ev42B/H9RGHHXA0G7+OY1bTXr/DfGTyuqLibmg1FXjvhT78xW/g
	lvhiVsX7m9oqJ/fmZ6taNHJPYnNf1CvQQtHuOG94igr4wJtOpJSO4XeQUiqWemjHH5XI
	lvvdMQVLtbubf/OiTcHUloGfpSs+yGx3wL38hmfwrKzgrjN5rWJkDicyxyTSlYF59NAm
	Mgt4ZnKNC0PxLmxzFq+GRy2PKcnhbaVQh2zLSAZ4XZcBjwJcwEvAzl7ZAW8VM0jjNVrl
	k27LM2iH9SYSC8E9lOwXwPlCy4EXntOqcETe3S8PCbK/7CgrjdhBZ2XwtyXoMug8noc1
	wzQc18kbJnlr0VY+1UFiz+bOFB6MvcSlIUu15HO4lwUvKrypM03mkUk0wlSB89cEYt+4
	oDtojEKJqZg3PJ6RFcCLlFPkHezi5uxtJyiim1vbbUFeY8fT9YBQny0ndUIiZlUn7yMd
	DdqDHyrARals4BR4bxhtwFMUput4AafbGPetKdaaXwi1ddKtg13yzr5Xgrw4mOLK8G2h
	Nslk5mX421fZaEZHiCkKwGlH2VAG4phnNJXVkMBreRrhiNwS4dLBtqfbhOSiKDZPhJ8g
	gjTKSPEGQMeWXbP3JA7tV+x4CXTcM/p4OYC4xDPRJqUaKaNihWtvWinfjKO9N8VIDbBe
	GE6rx7iYWXsvPIpb1aZWa9+KTrqjZKqetFirNE6jZczkOpfiNRDvt0ZzW2V0qxo0qRQy
	5fB2uLNpyjlGtVris3ljdxuROblHodyeVBzl9cKodM2/Rq78TFNdKpz5LtE4Ha8Bf81w
	4VS+MTEI+33Fy+UWt9++OhVDBn0+Ew0t2uh0L/SUAbddw3poiGlYyTaxLnA7VQp0hHu/
	XZXVjtOZAVDn4IbDSRpOlin02l7gVH0rNYHHWiFmqB3Pqr5euft9Qu9watkSW6u7qb4L
	Ck4y5Kp19O68IqyzwzIrwDO4Xh6IuwKbWCKrQRsdZY7aS72cwGmH6IOjTbmKijw6rwS6
	0LI6sNwoyIoVoUnyLbittqtCm+772WUUspc3OGnghuf2HQ9wzSTeckq/4vNgm0GENVPO
	I+aWefKU8Gbniu0S+5sdqTbqbCPdqFa6ifGyx2UDQg43sjP4weFHOVZ66ja0Kkt16zz/
	4ll2ucFV5l6FQC5C3+6jo1S69jqVfSGtHFFHBAhHGti7bUTL4FPgPeBB5ADelH5s5S0K
	5wZfS6KlBIqOKPHYOHLqBnwv73iG1sBPhN3XLERpjWc1WzS1y/bGrvE1NPiBL5MD3hiR
	wOHat6+rnEl2GUNLt87b9hD69VDn+/E5cMbwf1W8XRrOcMZoECJB5OSwMVxSNmhjPRA+
	KnqWZkiaIzfvKgan8DQw9IpP3C2b0L7Qw/PBKjpOmSF0wf/dfp0eNkJNxWbfJRCaITx0
	tQjj4VUMRJeiAlGcp4t02ezjGojb8BwZWEM6rzMbaCGkuPAsWRY8TbaQoVjlVoHypasC
	jqHEvvPE1PVgTxPr0VW26aNjtMEatVxNbiN/bQFx+Syy1PCU7OBpgtsKoa93YV1456xr
	FoRueDK673KhhTI8k9AHQTEIGu7X2dJf8/SzfqwPO9KursB7YytnO4sMGaFQ7S1bTIdD
	ZTkDrqSHhcjj0sMebU97IUjzEsbhAadXwjG05KstrBGVq1wLVx9dHPd85BLWCYv6Zp8E
	KzjaHvjBX7E58GrAtjCSr+ioGLPTmgxTX9dXoO+O71AqcbQl6Rq9sZtym6X8GoUX14gS
	PQbeuL+YIrGC0NhCpDgpRk6JBvi5V0Kc0OB3iFgshoOEVryWqByDIPWgTbWXv68Lt9QN
	99vXde62Bkeoa8eTI7jhOyBuQE6ys93eZtFsJyhnS89jgcu1TUev+Q4iAoMkXnNVNpkx
	0g0FO1Y+rQuq1K8yIWV0scuW5prIqT3yTsNJt7FgqoQyM7KVJB/lfmfQC9HMVblrNNxj
	nU9ohe+a3arvedlUPFlXU9Whax0ilHzratu0fQXsCHFKayW9ZvjaW1lJZ3LKnL+G7ibt
	phIP65NuDW/SkNOAqIyhpMVxVTSOl3rfvqr7fBpns9uW7K77ox2oTvjsm6tntVjyPnh8
	bcuGyKKj0Hc7eDg1kYUrnNAaz7gbRlfgUXXNXdIgrlO0LYSZ4fHjtaYUi3ye3Gp/KyjU
	nrNLlVhKUT7HQPzfUMcUQ9rNfExap/MFiT78QSHaDVXUe9K6/JQQQ4oLaSdxT4jvefB7
	6jmdP0xSyDvX8XX4TEMVBN/m5BLSaAKR9MtbJs5Vp/YMBfCH5NxI/ajqhsz855rOKP1z
	a0Ld9YuC7m8qhH+uXDGGuuq1NH+rTF4rSdj3VToS1CGh+qN+Li4av93F53AgVcT3lH1B
	EcQCSj4oCGdQFNBQgsOsT575FexHoMXs7r8x6SdJmDOFgo38aZb4m/1+OOOzIz745pee
	uLP+jSt+L8k/4Ypxi7G0Y07RWOqPzEiKXM6BOhrOGBS+b0zEs5+dPh6x9/L5fUiNL0C2
	EP2y9P9aFL5LJF0+FpfjWfyNOp+t+6FScM7C/F9vvU84vzBvKOd/Y+D/qMEnuT9s/vLy
	x8t/AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2020-09-13T01:43:29Z</date>
</dict>
</plist>
