<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollapsedSidebarSectionIdentifiers</key>
	<array/>
	<key>ExpandedSidebarItemIdentifiers</key>
	<array>
		<string>F2E6B48D-3678-4694-B32A-DE4FCDDBB49C/L0/020</string>
		<string>CE31E463-8BB9-43D8-84AF-52509C72864A/L0/020</string>
		<string>9BC83BEA-7598-4846-BBD7-AB14BE771825/L0/020</string>
		<string>3205FEEF-B22D-43D6-8D31-9A4D112B67E3/L0/020</string>
		<string>1FB9BF4B-3CF5-45DE-B4E7-C92047341196/L0/020</string>
	</array>
</dict>
</plist>
